<p-button
  label="AGREGAR"
  icon="pi pi-plus"
  styleClass="bg-[#0b3954] hover:bg-[#0b3954de] border-[#0b3954] flex justify-star"
  (click)="openModalEntity()"
/>

<p-dialog
  [(visible)]="modalEntity"
  [modal]="true"
  [closable]="true"
  closeOnEscape="false"
  [style]="{ width: '35vw' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  draggable="false"
  header="Registrar Documentos"
  (onHide)="closeModalEntity()"
>
  <p-divider class="mt-0" />
  <form
    class="grid md:col-span-2 gap-3 p-3"
    [formGroup]="entityForm"
    (ngSubmit)="onSubmitEntity()"
  >
    <div class="flex flex-col">
      <label class="font-medium" for="numDocument">Num Documento</label>
      <input
        type="text"
        id="numDocument"
        pInputText
        formControlName="numDocument"
        [ngClass]="{
          'ng-invalid ng-dirty':
            entityForm.get('numDocument')?.touched &&
            entityForm.get('numDocument')?.invalid
        }"
      />
      <app-form-error
        [control]="entityForm.get('numDocument')"
        [validationMessage]="'El número de documento es requerido.'"
        [maxMessage]="
          'El número de documento no puede exceder los 25 caracteres'
        "
      ></app-form-error>
    </div>
    <div class="flex flex-col col-span-2">
      <label class="font-medium" for="companyName">Razón Social</label>
      <input
        fluid
        type="text"
        id="companyName"
        pInputText
        formControlName="companyName"
        [ngClass]="{
          'ng-invalid ng-dirty':
            entityForm.get('companyName')?.touched &&
            entityForm.get('companyName')?.invalid
        }"
      />
      <app-form-error
        [control]="entityForm.get('companyName')"
        [validationMessage]="'La razón social es requerida.'"
        [minMessage]="'La razón social debe tener al menos 3 caracteres'"
        [maxMessage]="'La razón social no puede exceder los 100 caracteres'"
      ></app-form-error>
    </div>
    <div class="flex flex-col col-span-2">
      <label class="font-medium" for="tradeName">Nombre Comercial</label>
      <input
        fluid
        type="text"
        id="tradeName"
        pInputText
        formControlName="tradeName"
        [ngClass]="{
          'ng-invalid ng-dirty':
            entityForm.get('tradeName')?.touched &&
            entityForm.get('tradeName')?.invalid
        }"
      />
      <app-form-error
        [control]="entityForm.get('tradeName')"
        [maxMessage]="'El nombre comercial no puede exceder los 100 caracteres'"
      ></app-form-error>
    </div>
    <div class="flex flex-col col-span-2">
      <label class="font-medium" for="address">Ubicación</label>
      <input
        fluid
        type="text"
        id="address"
        pInputText
        formControlName="address"
        [ngClass]="{
          'ng-invalid ng-dirty':
            entityForm.get('address')?.touched &&
            entityForm.get('address')?.invalid
        }"
      />
      <app-form-error
        [control]="entityForm.get('address')"
        [maxMessage]="'La ubicación no puede exceder los 250 caracteres'"
      ></app-form-error>
    </div>
    <div class="flex flex-col">
      <label class="font-medium" for="phone">Teléfono</label>
      <p-inputnumber
        mode="decimal"
        inputId="phone"
        formControlName="phone"
        [useGrouping]="false"
        [ngClass]="{
          'ng-invalid ng-dirty':
            entityForm.get('phone')?.touched && entityForm.get('phone')?.invalid
        }"
      />
      <app-form-error
        [control]="entityForm.get('phone')"
        [maxMessage]="'El teléfono no puede exceder los 11 caracteres'"
      ></app-form-error>
    </div>
    <div class="flex flex-col">
      <label class="font-medium" for="documentType">Tipo de Documento</label>
      <p-select
        fluid
        formControlName="documentType"
        id="documentType"
        [options]="optionDocuments"
        optionLabel="name"
        optionvalue="idDocumentType"
        [appendTo]="'body'"
        [ngClass]="{
          'ng-invalid ng-dirty':
            entityForm.get('documentType')?.touched &&
            entityForm.get('documentType')?.invalid
        }"
      />
      <app-form-error
        [control]="entityForm.get('documentType')"
        [validationMessage]="'El tipo de documento es requerido.'"
      ></app-form-error>
    </div>
    <div class="flex flex-col">
      <label class="font-medium" for="taxpayerType"
        >Tipo de Contribuyente</label
      >
      <p-select
        fluid
        formControlName="taxpayerType"
        id="taxpayerType"
        [options]="optionTaxpayers"
        optionLabel="name"
        optionvalue="idTaxpayerType"
        [appendTo]="'body'"
      />
    </div>
    <p-button
      label="GUARDAR"
      type="submit"
      icon="pi pi-save"
      class="flex justify-center col-span-2"
      styleClass=" col-span-2 bg-green-600 hover:bg-green-500 border-green-600"
    />
  </form>
</p-dialog>
